Curso/bin/Debug/net5.0/DominandoEFCore.dll
Curso/bin/Debug/net5.0/DominandoEFCore.exe
Curso/bin/Debug/net5.0/Microsoft.Identity.Client.dll
*/bin/*
*/obj/*
Curso/.vscode/launch.json
Curso/.vscode/settings.json
Curso/.vscode/tasks.json
